{% extends "layout.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
    {% for entry in user_entries %}
            <section>
                <div class="container">
                    <div class="entry-list">
                        <article>
                            <h2><a href="{{ url_for('detail_entry', id=entry.id)  }}">{{ entry.title }}</a></h2>
                            <time datetime="{{ entry.date }}">{{ entry.date.strftime('%m/%d/%Y') }}</time>
                            <p>
                                {% for tag in entry.get_tag_names() %}
                                <a href="{{ url_for('tagged_entries', tag_name=tag.tag_name)  }}">{{ tag.tag_name }}</a>
                                {% endfor %}
                            </p>
                        </article>
                    </div>
                </div>
            </section>
    {% endfor %}
{% else %}
        <section>
            <div class="container">
                <div class="entry-list">
                    <article>
                        <h2>Welcome to the Learning Journal. Please login to add or view content.</h2>
                    </article>
                </div>
            </div>
        </section>
{% endif %}
{% endblock %}