{% extends "layout.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block content %}

{% for entry in user_entries %}
        <section>
            <div class="container">
                <div class="entry-list">
                    <article>
                        <h2><a href="{{ url_for('entries', user_entries=user_entries)  }}">{{ entry.title }}</a></h2>
                        <time datetime="{{ entry.date.strftime('%m/%d/%Y') }}">{{ entry.date }}</time>
                    </article>
                </div>
            </div>
        </section>
{% endfor %}
{% endblock %}